
html {
  margin: 0 auto;
  max-width: 900px;
}

body {
  text-align: center;
}

ul { 
  list-style-type: none;
}

.address-icon {
  max-width: 21px;
  max-height: 21px;
}

.project-card { 
  border-top: 3px solid #17a2b8;
  height: 140px;
  transform: translateY(0px);
  transition: .5s;
}

.project-card:hover {
  transform: translateY(-3px);
  transition: .5s;
}

.project-card img { 
  padding: 40px;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}